.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .not-found-title {
    font-size: 5rem;
    color: var(--ALERT);
}

.change-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

.change-container .back-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem 0 0 2rem;
    font: var(--MEDIUM);
}

.img-container {
    width: 7rem;
    height: 7rem;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.title {
    margin-bottom: 1.5rem;
}

.form {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form p {
    margin-bottom: 1rem;
}

.form button {
    margin-bottom: 1rem;
    width: 6rem;
}

.form button:hover {
    color: var(--TEXT_LIGHT);
}

.form .input-container {
    margin-bottom: 2rem;
}

.form input {
    color: var(--TEXT_LIGHT);
}

.container .link:hover {
    color: var(--TEXT_LIGHT);
}

.form .btns-container {
    display: flex;
}