.section-brand {
    width: 100%;
    background-image: url(../../assets/img-homepage.png);
    position: relative;
}

.brand-content {
    background: #95b8bf5e;
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    text-align: center;
    color: var(--TEXT);
}
.brand-content h3{
    display: flex;
    gap: .5rem;
    font-weight: 500;
}
.brand-content h2{
    font-weight: 700;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 80%;
}
.login-form-container  input, .login-form-container button {
    width: 100%;
}
.login-form-container button {
    width: 60%;
}

.footer-section{
    height: 15vh;
    text-align: center;
    padding-top: 7vh;
}
.footer-section h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.fs-2{
    margin-bottom: 4.5rem;
}


.main-section{
    background-color: var(--TEXT);
}

.section-info{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.my-card {
    border: solid 2px var(--PRIMARY_700);
    border-radius: 15px;
    width: 20rem;
    height: max-content;
    padding: 1rem;
    text-align: justify;
    transition: var(--transition);
}
.my-card:hover {
    box-shadow: 2px 2px 10px var(--PRIMARY_700);
}

.my-card img{
    position: relative;
    object-fit: cover;
    width: 19.8rem;
    transform: translate(-1rem, -1rem);
    border-radius: 15px 15px 0 0;
}
.my-card h1, .my-card h2{
    text-align: center;
    margin-bottom: .5rem;
}

.my-icon {
    width: 70%;
    height: 70%;
}

@media screen and (max-width:750px) {
    .footer-section {
        padding-top: 3vh;
    }
    .footer-section h1{
        font-size: 1.2rem;
    }
    .footer-section h1 .footer-icon{
        display: none;
    }
}

@media screen and (max-width: 830px) {
    .brand-content {
        width: 100%;
        padding: 0 .2rem;
    }
}
