.public-container {
    background-color: var(--TEXT);
}


.first-section {
    display: flex;
    gap: 1rem;
    height: 100vh;

}

.first-s-header-container {
    width: 40%;
}

.first-s-img {
    width: 40%;
    /* background-color: aqua; */
    position: absolute;
    z-index: -1;
    right: 0;
    margin-right: 2rem;
}

.first-s-img img {
    width: 100%;
    object-fit: cover;
}

.first-s-header p {
    font: var(--MEDIUM);
    font-size: 3rem;
}

.first-s-header h1 {
    font-size: 4rem;
}

.first-s-header {
    position: relative;
    top: 10vh;
    left: 5vw;
}

.first-s-paragraph {
    position: relative;
    top: 10vh;
    left: 5vw;
}

.first-s-paragraph p {
    font: var(--REGULAR);
    font-size: 1.2rem;
    text-align: justify;
}

.first-s-header2 {
    position: relative;
    top: 15vh;
    left: 15vw;
    width: 35%;
}

.first-s-header2 h1 {
    cursor: pointer;
    transition: var(--transition);
}

.first-s-header2 h1:hover {
    color: var(--TEXT_LIGHT);
}

.first-s-header3 {
    position: absolute;
    top: 90vh;
    left: 20%;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.first-s-header3 h1 {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-size: 1.8rem;
}

.first-s-header3 h1:hover {
    color: var(--TEXT_LIGHT);
}


.section-brand {
    width: 100%;
    background-image: url(../../assets/img-homepage.png);
    position: relative;
}

.brand-content {
    background: #95b8bf5e;
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    text-align: center;
    color: var(--TEXT);
}

.brand-content h3 {
    display: flex;
    gap: .5rem;
    font-weight: 500;
}

.brand-content h2 {
    font-weight: 700;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 80%;
}

.login-form-container input,
.login-form-container button {
    width: 100%;
}

.login-form-container button {
    width: 60%;
}

.footer-section {
    height: 15vh;
    text-align: center;
    padding-top: 7vh;
}

.footer-section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fs-2 {
    margin-bottom: 4.5rem;
}


@media screen and (max-width:750px) {
    .footer-section {
        padding-top: 3vh;
    }

    .footer-section h1 {
        font-size: 1.2rem;
    }

    .footer-section h1 .footer-icon {
        display: none;
    }
}

@media screen and (max-width: 830px) {
    .brand-content {
        width: 100%;
        padding: 0 .2rem;
    }

    .first-s-img {
        display: none;
    }

    .first-s-header-container,
    .first-s-header2,
    .first-s-header3 {
        width: 100%;
    }

    .first-s-paragraph {
        width: 75%;
    }

    .first-s-header3 {
        left: 0;
        margin-left: 1rem;
    }
}