.input-container {
    width: 80%;
    border-radius: 10px;
    height: 3rem;
    margin-bottom: .8rem;
}

.input-outline {
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 90%;
    padding-left: 1rem;
}

.input-outline input {
    width: 100%;
    background: none;
    padding-right: .8rem;
    padding-left: .7rem;
    font: var(--LIGHT_ITALIC);
    color: var(--TEXT);
}

.input-outline-primary {
    border: 1.5px solid var(--PRIMARY_700);

}

.input-outline-secondary {
    border: 1.5px solid var(--SECONDARY_800);

}

.input-error-message {
    color: var(--ALERT);
    margin: .5rem auto;
}