/*buttons contents*/
.btn {
    min-width: 6rem;
    width: auto;
    display: inline-block;
    color: var(--TEXT_LIGHT);
    font: var(--REGULAR);
    border-radius: 30px;
    transition: var(--transition);
    cursor: pointer;
}

.btn:hover {
    /*background-color: var(--PRIMARY_800);*/
    transform: scaleY(.6rem);
    background: none;
    color: var(--TEXT);
}

.primary {
    background-color: var(--PRIMARY_700);
    border: solid 1.5px var(--PRIMARY_800);
}

.secondary {
    background-color: var(--SECONDARY_800);
    border: solid 1.5px var(--SECONDARY_900);
}

.google {
    background-color: var(--TEXT_LIGHT);
    border: solid 1.5px var(--SECONDARY_800);
    color: var(--TEXT);
}