.Profile {
    margin-bottom: 3rem;
}

.section-profile {
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 0 2rem;
}

.header-button-profile {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 13vh;
    right: 2.5rem;
    color: var(--TEXT_LIGHT);
}

.header-button-profile svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: var(--transition);
}

.header-button-profile svg:hover {
    color: var(--SECONDARY_800);
}

.header-button-profile button:hover {
    color: var(--TEXT_LIGHT);
}


.img-background {
    background-color: var(--PRIMARY_600);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.bios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
    gap: 1.5rem;
    padding: 1rem 2rem;
}

/* end of header of profile  */


.section-posts {
    margin-top: 10%;
}

.section-posts h1 {
    color: var(--TEXT_LIGHT);
    margin: 3rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* end of posts contents  */


@media screen and (max-width: 800px) {
    .profile-container {
        padding: .5rem;
    }

    .img-background {
        width: 15rem;
        height: 15rem;
    }

    .header-button-profile {
        right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
    }

}


/* modal of go to page component  */

.follow-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
}

.follow-container .follow-container-img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.follower-modal-h1 {
    margin-bottom: 2.5rem;
}