.menu-item-category {
    overflow-x: auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    position: fixed;
    top: 10vh;
    background-color: var(--SECONDARY_900);
    font: var(--LIGHT_ITALIC);
    gap: 1px;
}

.menu-item-category .item-category {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--SECONDARY_800);
    height: 100%;
    width: 100%;
    min-width: 7rem;
    transition: var(--transition);
}

.menu-item-category .item-category:hover {
    background: none;
}