.register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 2rem;
}

.brand-img-register{
    background-color: var(--PRIMARY_600);
    width: 50%;
    height: 70vh;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}

.brand-img-register img{
    width: 75%;
    object-fit: cover;
}

.register-container{
    background: none;
    width: 50%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
    color: var(--TEXT_LIGHT);
}

.register-container input{
    color: var(--TEXT_LIGHT);
}
.register-container button:hover{
    color: var(--TEXT_LIGHT);
}

.register-container h1{
    color: var(--PRIMARY_600);
}

.register-container h3{
    display: flex;
    gap: .5rem;
    font-weight: 500;
}
.register-container h3 a:hover{
    color: var(--TEXT_LIGHT);
}

.register-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}
.register-form-container  input, .register-form-container button {
    width: 100%;
}
.register-form-container button {
    width: 45%;
}



@media screen and (max-width: 970px) {
    .brand-img-register{
        display: none;
    }
    .register-container{
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .register-form-container button {
        width: max-content;
        padding: auto 1rem;
    }
    .register-container h3 {
        flex-wrap: wrap;
        justify-content: center;
    }
}