.navbar-toggle {
    display: none;
}

.navbar {
    /* background: #22457357;
    width: 100%;
    height: 8vh;
    padding: 1rem 5rem;
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem; */
    /*apartir dos 770px left fica 20%*/
    /*apartir dos 1000px left fica 15%*/
    /* left: 50%;
    transform: translateX(-50%); */
    /* top: 0;
    backdrop-filter: blur(15px); */
}

/* .navbar {
    background: #22457357;
    width: 100%;
    height: 8vh;
    padding: 1rem 5rem;
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    /*apartir dos 770px left fica 20%*/
/*apartir dos 1000px left fica 15%*/
/* left: 50%;
    transform: translateX(-50%); 
    top: 0;
    backdrop-filter: blur(15px);
} */

.result-search-container{
    background-color: var(--BACKGROUND_DARK);
    height: 80vh;
    width: 60%;
    position: fixed;
    z-index: 3;
    left: 25%;
    border-radius: 0 0 5px 5px;
}
.result-search-container .result-category-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--TEXT_LIGHT);
}
.result-search-container .result-profile-container{
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid var(--TEXT_LIGHT);
}

.nav-menu-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 70%; */
}

.nav-text {
    /* background: var(--PRIMARY_600); */
    padding: 0.9rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: 1.1rem;
}

.nav-text a {
    color: var(--TEXT_LIGHT);
    display: flex;
    gap: .6rem;
    font-size: 1.1rem;
}

.nav-text a:hover {
    color: var(--SECONDARY_800);
    display: flex;
    gap: .6rem;
    font-size: 1.1rem;
}


@media screen and (max-width: 830px) {

    .nav-header{
        display: flex;
        align-items: center;
        padding-left: 5%;
        gap: 10%;
        height: 10vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--BACKGROUND_DARK);
    }
    
    .nav-header .nav-toggle{
        display: flex;
        align-items: center;
        font: var(--MEDIUM);
    }

    .nav-menu-items .item-logo{
        display: none;
    }

    .nav-menu-items{
        flex-direction: column;
        z-index: 2;
        position: fixed;
        height: 100vh;
        background: #22457375;
        width: 100%;
        top: 0;
        backdrop-filter: blur(15px);
        transform: translateX(0);
        transition: var(--transition);
    }

    .nav-menu-items-active{
        transform: translateX(-100%);
    }
}

@media (min-width: 830px) {

    .nav-header{
        display: none;
    }

    .nav-menu-items{
        flex-direction: row;
        z-index: 2;
        position: fixed;
        height: 10vh;
        background: #22457375;
        width: 100%;
        top: 0;
        backdrop-filter: blur(15px);
        justify-content: flex-start;
        padding-left: 5%;
    }
    .item-link{
        align-items: center;
    }

    .nav-menu-items .item-searchbar{
        transform: translateY(10%);
        width: 50%;
        margin-left: 1.5rem;
        color: var(--TEXT_LIGHT);
    }
    .nav-menu-items .item-searchbar input{
        color: var(--TEXT_LIGHT);
    }
}

@media (max-width: 1280px) {
    .nav-menu-items .item-searchbar{
        width: 40%;
    }
}
@media (max-width: 1063px) {
    .nav-menu-items .item-searchbar{
        width: 35%;
    }
}