.navbar-toggle {
    display: none;
}

.navbar {
    /* background: #22457357;
    width: 100%;
    height: 8vh;
    padding: 1rem 5rem;
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem; */
    /*apartir dos 770px left fica 20%*/
    /*apartir dos 1000px left fica 15%*/
    /* left: 50%;
    transform: translateX(-50%); */
    /* top: 0;
    backdrop-filter: blur(15px); */
}

/* .navbar {
    background: #22457357;
    width: 100%;
    height: 8vh;
    padding: 1rem 5rem;
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    /*apartir dos 770px left fica 20%*/
/*apartir dos 1000px left fica 15%*/
/* left: 50%;
    transform: translateX(-50%); 
    top: 0;
    backdrop-filter: blur(15px);
} */


.nav-menu-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 70%; */
}

.nav-text {
    /* background: var(--PRIMARY_600); */
    padding: 0.9rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: 1.1rem;
}

.nav-text a {
    color: var(--TEXT_LIGHT);
    display: flex;
    gap: .6rem;
    ;
    font-size: 1.1rem;
}

.nav-text a:hover {
    color: var(--SECONDARY_800);
    display: flex;
    gap: .6rem;
    font-size: 1.1rem;
}


@media screen and (max-width: 830px) {

    .nav-header{
        display: flex;
        align-items: center;
        margin-left: 5%;
        gap: 20%;
        height: 8vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .nav-header .nav-toggle{
        display: flex;
        align-items: center;
        font: var(--MEDIUM);
    }

    .nav-menu-items{
        flex-direction: column;
        z-index: 2;
        position: fixed;
        height: 100vh;
        background: #22457375;
        width: 100%;
        top: 0;
        backdrop-filter: blur(15px);
        transform: translateX(0);
        transition: var(--transition);
    }

    .nav-menu-items-active{
        transform: translateX(-100%);
    }
}

@media (min-width: 830px) and (max-width: 985px) {

    .nav-header{
        display: flex;
        align-items: center;
        margin-left: 5%;
        gap: 20%;
        height: 8vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .nav-header .nav-toggle{
        display: flex;
        align-items: center;
        font: var(--MEDIUM);
    }

    .nav-menu-items{
        flex-direction: column;
        z-index: 2;
        position: fixed;
        height: 100vh;
        background: #22457375;
        width: 50%;
        top: 0;
        backdrop-filter: blur(15px);
        transform: translateX(0);
        transition: var(--transition);
    }

    .nav-menu-items-active{
        transform: translateX(-100%);
    }
}