.navbar {
    background-color: #1D3240;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bars {
    font-size: 2rem;
    background: none;
}

nav{
    background: #22457357;
    width: max-content;
    height: 100vh;
    padding: 0 5rem;
    position: fixed;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(15px);
}

.nav-menu {
    /*you can hide it with left: -100%*/
    /*apartir dos 770px left fica 20%*/
    /*apartir dos 1000px left fica 15%*/
    left: -100%;
    transition: 850ms;
}

.nav-menu-active {
    left: 0;
    transition: 350ms;
}

/*my code*/

nav li {
    background: var(--PRIMARY_600);
    width: 20rem;
    padding: 0.9rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    margin-top: 1.5rem;
}

.nav-text {
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    gap: 1rem;
}

.navbar-toggle {
    background: none;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -1.5rem;
    left: 0;
}

.nav-text a {
    text-decoration: none;
    font-size: 100%;
    color: var(--TEXT);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: 4px;
}

.nav-menu-items {
    width: 100%;
    margin-top: 5%;
}

@media screen and (max-width: 900px) {
    nav{
        width: 100%;
    }
}

@media screen and (max-width: 470px) {
    nav{
        padding: 0 3rem;
    }
    .nav-menu-items {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-items: center;
    }
    nav li {
        background: var(--PRIMARY_600);
        width: 100%;
        padding: 0.9rem;
        border-radius: 2rem;
        font-size: 1.1rem;
        margin-top: 1.5rem;
        justify-self: center;
    }
    .nav-text{
        width: 90%;
    }
}