.post-like-container-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: var(--transition);
    color: var(--ALERT);
}

.popup-content .btns-popup-review button {
    width: 5rem;
}