.post-container {
    margin: 1rem 0;
    padding-top: 1rem;
    border-bottom: 1px solid var(--SECONDARY_900);
    width: 100%;
}

.header-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.header-post .header-user-post {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.header-post h3 {
    display: flex;
    gap: 1rem;
}

.header-content-user {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 1rem;
}

.header-content-user p {
    font: var(--REGULAR);
    cursor: pointer;
}

.header-user-avatar {
    width: 2.5rem;
    height: 2.5rem;
}

.header-user-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    max-width: 4rem;
    width: auto;
    font-size: 1.5rem;
}

/* --------end of header---------- */

.post-container .content-post {
    text-align: justify;
    padding: 1rem 3rem;
}

.content-post h2 {
    margin-bottom: 1rem;
}

.img-content-container {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0 .8rem 0;
}

.img-content-container .img-content {
    max-height: 75vh;
    object-fit: contain;
    border: 1px solid #049dbf63;
}

.img-content-container img {
    width: 70%;
    object-fit: contain;
    border-radius: 1rem;
}

/* --------end of content---------- */

.footer-post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-post .review-like-container,
.footer-post .coments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding: .5rem 0;
    gap: 1.2rem;
}

.footer-post .coments-container {
    border-right: 1px solid #049dbf63;
}

.footer-post .review-like-container .post-coment-container-icon {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
    transition: var(--transition);
    color: var(--SECONDARY_800);
}

/* --------end of footer---------- */

@media (min-width: 800px) {
    .post-container {
        background-color: var(--BACKGROUND_DARK);
        width: 75%;
        border-radius: 1rem;
        margin-left: calc((100% - 75%)/2);
    }

    .post-container .content-post {
        border-bottom: 1px solid #049dbf63;
    }

    .img-content {
        width: 60%;
    }
}

/* --------end of media querys---------- */