.post-container {
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--SECONDARY_900);
}

.header-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header-post .header-user-post {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.header-post h3 {
    display: flex;
    gap: 1rem;
}

.header-content-user {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 1rem;
}

.header-content-user p {
    font: var(--REGULAR);
    cursor: pointer;
}

.header-user-avatar {
    width: 2.5rem;
    height: 2.5rem;
}

.header-user-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    max-width: 4rem;
    width: auto;
    cursor: pointer;
    font-size: 1.5rem;
}

/* --------end of header---------- */

.post-container .content-post {
    margin-bottom: .5rem;
    text-align: justify;
    padding: 1rem;
}

.content-post h2 {
    margin-bottom: 1rem;
}

.img-content-container {
    width: 100%;
    text-align: center;
    margin-top: .5rem;
}

.img-content-container .img-content {
    max-height: 75vh;
    object-fit: contain;
    border: 1px solid #049dbf63;
}

.img-content-container img {
    width: 70%;
    object-fit: contain;
    border-radius: 1rem;
}

/* --------end of content---------- */

.footer-post {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 1.5rem 0 0;
    gap: 1rem;
}

/* --------end of footer---------- */

.show-more-content {
    background-color: var(--BACKGROUND_DARK);
    border-radius: 1rem;
    padding: .5rem;
    position: relative;
    /* right: 2rem; */
    z-index: 2;
    border: 1px solid var(--SECONDARY_900);
    display: block;
    transition: var(--transition);
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: calc(0);
    overflow: hidden;
    z-index: 999;
}

.show-more-content.show-more-content-active {
    /* display: none;
    transition: var(--transition); */
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.show-more-content div {
    border-bottom: 1px solid var(--SECONDARY_900);
    padding: .2rem;
    border-radius: .2rem;
    transition: var(--transition);
}

/* --------end of show-more---------- */

@media (min-width: 800px) {
    .post-container {
        background-color: var(--BACKGROUND_DARK);
        width: 75%;
        border-radius: 1rem;
        margin-left: calc((100% - 75%)/2);
    }

    .post-container .content-post {
        border-bottom: 1px solid #049dbf63;
    }

    .img-content {
        width: 60%;
    }
}

/* --------end of media querys---------- */