.post-container {
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--SECONDARY_900);
}

.header-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header-content-user {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 1rem;
}

.header-content-user P {
    font: var(--REGULAR);
    cursor: pointer;
}

.header-user-avatar {
    width: 2.5rem;
    height: 2.5rem;
}

.header-user-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.header-show-more {
    cursor: pointer;
}

/* --------end of header---------- */

.post-container .content-post {
    background-color: var(--SECONDARY_800);
    margin-bottom: .5rem;
    text-align: justify;
    padding: 1rem;
}

.img-content-container {
    width: 100%;
    text-align: center;
    margin-top: .5rem;
}

.img-content {
    width: 70%;
    object-fit: cover;
}

/* --------end of content---------- */

.header-show-more .show-more-content {
    background-color: var(--BACKGROUND_DARK);
    border-radius: 1rem;
    padding: .5rem;
    position: absolute;
    right: 2rem;
    z-index: 2;
    display: none;
    transition: var(--transition);
}

.header-show-more .show-more-content li {
    border-bottom: 1px solid var(--SECONDARY_900);
    padding: .2rem;
    border-radius: .2rem;
    transition: var(--transition);
}

.header-show-more .show-more-content li:hover {
    background-color: var(--PRIMARY_700);
}

.active {
    display: block;
}

/* --------end of show-more---------- */