@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

:root {
  /*THEME*/
  --BACKGROUND_DARK: #1D3240;
  --BACKGROUND_DARK_DARKER: #212228;
  --BARCKGROUND_LIGHT: #F5FFF8;
  --BARCKGROUND_LIGHT_DARKER: #A8FFC0;

  /*fullfilled and borders*/
  --PRIMARY_900: #025939;
  --PRIMARY_800: #027333;
  --PRIMARY_700: #03A63C;
  --PRIMARY_600: #04D939;

  /*titles*/
  --SECONDARY_900: #224573;
  --SECONDARY_800: #049DBF;
  --SECONDARY_700: #04C4D9;

  /*paragraph*/
  --TEXT: #011140;
  --TEXT_LIGHT: #DFE6EA;

  /*fonts*/
  /*italic / small-caps / bold / 12px/18px / Arial, Helvetica, Verdana
    Font-style / font-variant / font-weight / font-size/line-height / font-family*/
  --LIGHT: normal 300 1rem 'Nunito', san-serif;
  --LIGHT_ITALIC: italic 300 1rem 'Nunito', san-serif;
  --REGULAR: normal 400 1rem 'Nunito', san-serif;
  --REGULAR_WARNING: normal uppercase 400 1rem 'Nunito', san-serif;
  --MEDIUM: normal 500 1.5rem 'Nunito', san-serif;
  --BOLD: normal 700 1.7rem 'Nunito', san-serif;

  /*others*/
  --ALERT: #D9042B;
  --WARNING: #F2B705;
  --LINE_DARK: #0D0000;
  --LINE_LIGHT: #595959;

  /*containers sizing*/
  --container-width-lg: 100%;
  --transition: all 200ms ease;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--BACKGROUND_DARK_DARKER);
  color: var(--TEXT_LIGHT);
  font: var(--LIGHT);
}


.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.section {
  margin-top: 8rem;
}


/*titles content*/
h1 {
  font: var(--BOLD);
  color: var(--SECONDARY_700);
}

h2 {
  font: var(--MEDIUM);
}

h3,
h4 {
  font: var(--REGULAR);
}

label {
  font: var(--REGULAR);
}

p {
  font: var(--LIGHT);
}

.p-italic {
  font: var(--LIGHT_ITALIC);
}

a {
  font: var(--REGULAR);
  color: var(--PRIMARY_600);
  transition: var(--transition);
}

a:hover {
  color: var(--TEXT);
}

/*buttons contents*/
.btn {
  width: max-content;
  display: inline-block;
  color: var(--TEXT_LIGHT);
  background-color: var(--BACKGROUND_DARK_DARKER);
  font: var(--LIGHT);
  border: solid 2px var(--PRIMARY_900);
  border-radius: 15px;
  transition: var(--transition);
  padding: .7rem;
}

.btn:hover {
  background-color: var(--PRIMARY_800);
  transform: scaleY(.6rem);
}

/* util */
.input-message {
  color: var(--ALERT);
  display: block;
}

/* login and register links */
@media (max-width: 821px) {
  .footer .label .colorfull-text {
    font-size: 1rem;
  }
}


/*==============================
        POPUP STYLE
==============================*/

.popup-menu {
  background: #22457357;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*you can hide it with left: -100%*/
  left: -100%;
  transition: var(--transition);
}

.popup-menu-active {
  left: 0;
  transition: var(--transition);
}

.popup-container {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  background-color: var(--BACKGROUND_DARK);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 1rem;
  margin: 0 .8rem;
  box-shadow: 1px 1px 5px var(--SECONDARY_700);
}

.btns-popup {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btns-popup button:hover {
  color: var(--TEXT_LIGHT);
}

/* modal  */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000d9;
  transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: calc(0);
  overflow: hidden;
  z-index: 999;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  padding: 2rem 0 2rem;
  padding: 0 auto;
}

.modal svg {
  position: fixed;
  top: 2rem;
  right: 2rem;
  padding: .8rem;
  color: var(--TEXT_LIGHT);
  cursor: pointer;
  font-size: 3rem;
}


/*===============
  GOOGLE ADS STYLE
=================*/
.aa,
.aaa {
  margin: 2rem 1rem;
  border: 1px solid var(--BACKGROUND_DARK);
  display: flex;
  justify-content: center;
  align-items: center;
}

.aaa {
  position: absolute;
  top: 10vh;
  left: 2vw;
  background-color: blueviolet;
}

@media (max-width: 840px) {
  .aaa {
    display: none;
  }
}

@media (max-width: 670px) {
  .aa {
    margin-top: 1rem;
  }

}

/*===============
  CHECKBOXES STYLE
=================*/
.checked-boxes-container {
  border: 1px solid var(--SECONDARY_800);
  border-radius: 1rem;
  padding: 1rem;
  font: var(--LIGHT_ITALIC);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  margin: .5rem 0 1rem 0;
}

.checked-boxes-container .form-checked-box {
  display: flex;
  gap: 1rem;
  width: 25%;
  font-size: 1.8rem;
}

.checked-boxes-container .form-checked-box input {
  width: 1.5rem;
}

/* MEDIA QUERYS */

@media (max-width: 670px) {

  .checked-boxes-container .form-checked-box {
    /* gap: 1rem; */
    width: 40%;
    font-size: 1.5rem;
  }

  .checked-boxes-container .form-checked-box input {
    width: 1.5rem;
  }

}

@media (max-width: 475px) {

  .checked-boxes-container .form-checked-box {
    width: 45%;
    font-size: 1rem;
  }

  .checked-boxes-container .form-checked-box input {
    width: 1rem;
  }
}

@media (max-width: 340px) {

  .checked-boxes-container .form-checked-box {
    width: 50%;
  }

  .checked-boxes-container {
    justify-content: center;
  }
}


/*===============
  MEDIA QUERYS
=================*/
@media screen and (max-width: 991.98px) {
  .section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 767.98px) {
  .section {
    margin-top: 4rem;
  }
}