.container-form {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.config-form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

.txt-area-container {
    width: 100%;
}

.config-form-container input {
    color: var(--TEXT_LIGHT);
    width: 100%;
}

/* CHECKBOXES STYLES */
.check-container {
    border: 1px solid var(--SECONDARY_800);
    /* background-color: aqua; */
    height: 1rem;
    width: 1rem;
    color: var(--TEXT_LIGHT);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-checked-boxes {
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: .5rem 0;
}

.form-checked-box {
    display: flex;
    width: 10rem;
    gap: .8rem;
    margin: .5rem 0;
}

.form-checked-box input {
    width: 1.5rem;
    cursor: pointer;
}

.form-checked-box label {
    font-size: 1.2rem;
}

/* END CHECKBOXES STYLES */

.config-form-container textarea {
    background: none;
    width: 80%;
    border: 1.5px solid var(--SECONDARY_800);
    border-radius: 1rem;
    padding: 1rem;
    font: var(--REGULAR);
    color: var(--TEXT_LIGTH);
}

.selects-container {
    width: 80%;
}

.selects-container p {
    text-align: center;
    font-size: 1.2rem;
}

.config-form-container button {
    width: 20%;
}

.config-form-container button:hover {
    color: var(--TEXT_LIGHT);
}

/* MEDIA QUERYS */

@media screen and (max-width:970px) {
    .config-form-container {
        width: 100%;
    }

    .config-form-container button {
        width: 40%;
    }
}