.Config {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.config-container {
    padding: 1.5rem;
    max-width: 600px;
    width: 100%;
    height: max-content;
    text-align: center;
    overflow-y: auto;
}

.config-container .config-form-container {
    margin-top: 2rem;
}

.config-container .close-icon-container {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1rem 0 0 1rem;
}

.config-container .close-icon-container .config-link {
    font: var(--MEDIUM);
}

.config-form-container .user-img-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.config-form-container .user-img-container input {
    color: var(--TEXT_LIGHT);
}

.config-form-container .user-img-container img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
}

.config-container .config-form-container textarea {
    border: 1px solid var(--SECONDARY_800);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font: var(--LIGHT_ITALIC);
    color: var(--TEXT_LIGHT);
    width: 100%;
    background: none;
}

.config-container .config-form-container .save-button {
    width: 6rem;
}

.config-container .config-form-container .config-btns-container {
    margin: 2.5rem 0 1rem 0;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.config-container .config-form-container button:hover {
    color: var(--TEXT_LIGHT);
}

/* MEDIA QUERYS */

@media (max-width: 670px) {

    .config-container {
        max-width: 100%;
    }

}

@media (max-width: 475px) {

    .config-container .config-form-container .input-img-container {
        justify-content: center;
        gap: 1rem;
    }
}